@using EpamTasks.Entities;
@using EpamTasks.PL;
@{
    Layout = null;

    string newAwardName = Request["newAwardName"];
    if(!string.IsNullOrEmpty(newAwardName))
    {
        LogicProvider.UserLogic.AddNewAward(newAwardName, string.Empty);
        LogicProvider.UserLogic.SaveInFile();
    }

    Dictionary<int, Award> awards = LogicProvider.UserLogic.GetAwards();

    foreach(KeyValuePair<int, Award> award in awards)
    {
        <div><a href="~/?page=award&id=@award.Key">@($"{award.Key}, {award.Value.Name}")</a></div>
    }
}

<form action="~/Commands/AddNewAward.cshtml" method="post">
    <input type="text" name="newawardname" />
    <button>Создать</button>
</form>
