@using EpamTasks.Entities;
@using EpamTasks.PL;

@{
    Layout = null;
    int id;
    User user = (Session["user"] as User);

    if (int.TryParse(Request["id"], out id))
    {
        try
        {
            Award award = LogicProvider.UserLogic.GetAwardById(id);
    <div class="user_style">
        <div class="user_header">@award.Title</div>
        <div class="full_img">
            <div>
                <img src="~/Commands/Image?award_id=@award.Id" />
            </div>
        </div>

        @if(user.Power >= 1)
        {
            <ul>
                <li>
                    <a href="~/Commands/RemoveAward?award_id=@award.Id">Удалить награду</a>
                </li>
            </ul>
            <form action="~/Commands/UploadImageToAward.cshtml?id=@award.Id" method="post" enctype="multipart/form-data">
                <input type="file" name="userimage" />
                <button>Отправить</button>
            </form>
        }
    </div>
        }
        catch (KeyNotFoundException)
        {
            @("Награда не найдена.")
        }
    }
    else
    {
        @("Пожалуйста, не надо играться с аргументами...")
    }
}
