@using EpamTasks.Entities;
@using EpamTasks.PL;
@{
    Layout = null;

    string newAwardName = Request["newAwardName"];
    if(!string.IsNullOrEmpty(newAwardName))
    {
        LogicProvider.UserLogic.AddNewAward(newAwardName);
        //LogicProvider.UserLogic.SaveInFile();
    }

    List<Award> awards = LogicProvider.UserLogic.GetAwards() as List<Award>;

    foreach(Award award in awards)
    {
        <div><a href="~/?page=award&id=@award.Id">@($"{award.Id}, {award.Title}")</a></div>
    }
}

<form action="~/Commands/AddNewAward.cshtml" method="post">
    <input type="text" name="newawardname" />
    <button>Создать</button>
</form>
