@using EpamTasks.Entities;
@using EpamTasks.PL;

@{
    Layout = null;

    int id;

    string act = Request["act"];



    if (int.TryParse(Request["id"], out id))
    {
        if (act != "remove")
        {
            try
            {
                @LogicProvider.UserLogic.GetAwardById(id).Value.Name
                <div><a href="~/?page=award&id=@id&act=remove">Удалить награду</a></div>

            }
            catch (KeyNotFoundException)
            {
                @("Награда не найдена.")
            }
        }
        else
        {
            @(LogicProvider.UserLogic.RemoveAward(id) && LogicProvider.UserLogic.SaveInFile());
        }

    }
    else
    {
        @("Пожалуйста, не надо играться с аргументами...")
    }
}
