@using EpamTasks.Entities;
@using EpamTasks.PL;
@{
    Layout = null;


    string newAwardName = Request["newAwardName"];
    if (!string.IsNullOrEmpty(newAwardName))
    {
        LogicProvider.UserLogic.AddNewAward(newAwardName);
    }

    List<Award> awards = LogicProvider.UserLogic.GetAwards() as List<Award>;

    foreach (Award award in awards)
    {
        <div class="mini_user">
            <a href="~/?page=award&id=@award.Id">
                <div>
                    <img src="~/Commands/Image?award_id=@award.Id" />
                </div>
                @($"{award.Id}, {award.Title}")
            </a>
        </div>
    }
}

<form action="~/Commands/AddNewAward.cshtml" method="post">
    <input type="text" name="newawardname" />
    <button>Создать</button>
</form>
