@{
    Layout = null;
}

<div class="centr">

    <h3>О компании</h3>
    <p>Мы занимаемся качественной разработкой сайтов.</p>


    <h3>Меню</h3>
    <ul>
        <li>О компании</li>
        <li>Услуги</li>
        <li>Новости</li>
        <li>Партнерам</li>
        <li>Вакансии</li>
        <li>Контакты</li>
    </ul>
</div>