@{
    Layout = null;
}

<div class="centr">

    <h3>О компании</h3>
    <p>Мы занимаемся качественной разработкой сайтов.</p>


    <h3>Меню</h3>
    <ul>
        <li><a href="~/?page=users">Пользователи</a></li>
        <li><a href="~/?page=awards">Награды</a></li>
    </ul>
</div>