@using EpamTasks.Entities;
@using EpamTasks.PL;
@{
    Layout = null;

    //@LogicProvider.UserLogic.AddUser("Гоблин", DateTime.Now, "qwerty", "qwerty");

    if(IsPost)
    {
        if(!string.IsNullOrWhiteSpace(Request["login"]) && !string.IsNullOrWhiteSpace(Request["password"]))
        {
             LogicProvider.UserLogic.AddUser(
             Request["name"],
             DateTime.Parse(Request["datebirth"]),
             Request["login"],
             LogicProvider.UserLogic.GetMd5Hash(Request["password"]));
            Response.Redirect("~/");
        }
    }



                //Request["login"];
            }

<div>
    <form action="~/Pages/Registration.cshtml" method="post">
        Имя: <div><input type="text" name="name" /></div>
        Логин: <div><input type="text" name="login" /></div>
        Пароль: <div><input type="password" name="password" /></div>
        Дата рождения: <div><input type="text" name="datebirth" /></div>
        <button>Регистрация</button>
    </form>
</div>
