@using EpamTasks.Entities;
@using EpamTasks.PL;
@using System.Text.RegularExpressions;
@{
    Layout = "~/Layouts/_MainLayout.cshtml";


    if (IsPost)
    {
        if (!string.IsNullOrWhiteSpace(Request["login"]) && !string.IsNullOrWhiteSpace(Request["password"]))
        {
            string errorMessage = string.Empty;
            string name = Request["name"];
            string login = Request["login"];
            string password = LogicProvider.UserLogic.GetMd5Hash(Request["password"]);

            bool dateIsParsed = DateTime.TryParse(Request["datebirth"], out DateTime parsedDate);
            bool regexedName = new Regex(@"(^[А-я\-]{2,50}$)|(^[A-z\-]{2,50}$)").IsMatch(name);
            bool regexedLogin = new Regex(@"^[A-z0-9][A-z0-9\-]{1,18}[A-z0-9]$").IsMatch(login);
            bool regexedPass = new Regex(@"^[A-z0-9\-\!]{6,50}$").IsMatch(Request["password"]);
            bool dbSuccess = false;

            if (regexedName && regexedLogin && regexedPass && dateIsParsed && LogicProvider.UserLogic.AddUser(name, parsedDate, login, password))
            {
                dbSuccess = true;
                HttpCookie loginCookie = new HttpCookie("login", login);
                loginCookie.Expires = DateTime.Now.AddDays(10);
                HttpCookie passwordCookie = new HttpCookie("password", password);
                passwordCookie.Expires = DateTime.Now.AddDays(10);

                Response.Cookies.Add(loginCookie);
                Response.Cookies.Add(passwordCookie);

                Response.Redirect("~/AuthForm.aspx");
            }
            else
            {
                errorMessage = string.Join("",
                    (!regexedName ? "n" : string.Empty),
                    (!regexedLogin ? "l" : string.Empty),
                    (!regexedPass ? "p" : string.Empty),
                    (!dbSuccess ? "b" : string.Empty),
                    (!dateIsParsed ? "d" : string.Empty));
                Response.Redirect($"~/Pages/Registration/?error={errorMessage}");
            }
        }
    }
}
<div class="reg_form">
    <div>
        <form action="~/Pages/Registration.cshtml" method="post">
            Имя: <div><input type="text" name="name" /></div>
            Логин: <div><input type="text" name="login" /></div>
            Пароль: <div><input type="password" name="password" /></div>
            Дата рождения: <div><input type="text" name="datebirth" /></div>
            <button>Регистрация</button>
        </form>
    </div>

    @{
        string errorString = Request["error"] ?? string.Empty;

        if (errorString.Contains("n"))
        {
            <div>Имя должно состоять либо только из русских букв, либо только из английских. Длина должна быть от 2 до 50-ти символов.</div>
        }
        if (errorString.Contains("l"))
        {
            <div>Логин должен состоять из английский букв, цифр, дефиса (-), начинаться и заканчиваться должен с английской буквы, или цифры. Длина логина от 3-х до 20-ти символов.</div>
        }
        if (errorString.Contains("p"))
        {
            <div>Пароль должен быть длиной от 6-ти до 50-ти символов, и состоять из английских букв, цифр, дефиса (-) и восклицательного знака (!)</div>
        }
        if (errorString.Contains("d"))
        {
            <div>Дата должна быть в формате ДД.ММ.ГГГГ</div>
        }

        if (errorString == "b")
        {
            <div>При регистрации произошла ошибка. Возможно, данный пользователь уже существует.</div>
        }

        <div><a href="~/">На главную</a></div>
    }
</div>