@{
    Layout = null;
}

    <div>
        <form action="/" method="post">
            Логин: <div><input type="text" name="login" /></div>
            Пароль: <div><input type="password" name="pass" /></div>
            Дата рождения: <div><input type="password" name="datebirth" /></div>
            <button>Регистрация</button>
        </form>
    </div>
