@using EpamTasks.Entities;
@using EpamTasks.PL;
@{
    Layout = null;

    string pageNumStr = Request["pagenum"];
    int currentPageNum;

    int rowsCount = 10;


    if(!int.TryParse(pageNumStr, out currentPageNum))
    {
        currentPageNum = 1;
    }

}

    <div>
        @{
            //bool b = LogicProvider.UserLogic.SaveInFile();
            List<User> users = LogicProvider.UserLogic.SelectShortUsersInfo(rowsCount, rowsCount * (currentPageNum - 1)) as List<User>;

            <p>
                @foreach (User user in users)
                {
                    <div class="mini_user">
                        <a href="~/?page=user&id=@user.Id">
                        <div><img src="~/Commands/Image?user_id=@user.Id" /></div>
                        @user.Name
                        </a>
                    </div>
                }
            </p>
            if (currentPageNum > 1)
            {
                <a href="~/?page=users&pagenum=@(currentPageNum-1)">&#60;</a>
            }

            if (users.Count >= rowsCount)
            {
                <a chass="avatar" href="~/?page=users&pagenum=@(currentPageNum+1)" style="width:80px; height:auto;">&#62;</a>
            }
        }
    </div>