@using EpamTasks.Entities;
@using EpamTasks.PL;
@{
    Layout = null;
}

<div>
    @{
        //bool b = LogicProvider.UserLogic.SaveInFile();
        User[] users = LogicProvider.UserLogic.GetArray();

        <div>
            @foreach (User user in users)
            {
                <div><a href="~/?page=user&id=@user.Id">@user.Id @user.Name, дата рождения:  (@user.DateOfBirth), возраст: @user.Age</a></div>
            }
        </div>
    }
</div>
