body#task10 {
	margin: 0px;
	background-color: #c6e2ff;
}

.zagolovok {
	background-color: #0690CF;
	padding: 20px;
	font-size: 60px;
	color: white;
	text-align: center;
	font-family: Helvetica;
}
.maincontent {
	background-color: #d4f0ff;
	width: 60%;
	min-height:600px;
	display: inline-block;
	position: absolute;
	margin: 0 auto;
}
.menur{
	float: right;
	width: 40%;
	height: 100%;
	background-color: #c6e2ff;
}
.centr{
	margin: 0 auto;
	width: 60%;
}
 li {
    list-style-type: none; /* Убираем маркеры */
   }
ul {
/*margin-left: 0; /* Отступ слева в браузере IE и Opera */
/*padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
h3{
	text-align: center;
}

.mini_img {
	text-align:center;
}

.mini_img img {
	width: 150px;
	height: auto;
	border-radius: 50%;
	background-color: #f0f2f5;
	position: relative;
	position: static;
	border: 1px solid black;
}

.full_img {
	align-self:center;
}