@using EpamTasks.Entities;
@using EpamTasks.PL;

@{
    Layout = null;
    int id = int.Parse(Request["id"]);
    if (IsPost)
    {
        byte[] image = WebImage.GetImageFromRequest().GetBytes() ?? null;
        if (image != null)
        {
            LogicProvider.UserLogic.SetImageByUserId(id, image);
            Response.Redirect($"~/?page=user&id={id}");
        }
    }

    <div>Что-то пошло не так.</div>
}


