@using EpamTasks.Entities;
@using EpamTasks.PL;
@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    string login = Request?.Cookies["login"]?.Value;
    string password = Request?.Cookies["password"]?.Value;
    string page = Request["page"] ?? "Welcome";
    User user = LogicProvider.UserLogic.SelectFullUserByLoginAndPass(login, password);
    Session["user"] = user;


    //Вариант без обновления сессии
    /*User user = (Session["user"] as User) ?? null;

    if(!string.IsNullOrEmpty(login) && !string.IsNullOrEmpty(password) && user == null)
    {
        user = LogicProvider.UserLogic.SelectFullUserByLoginAndPass(login, password);
        Session["user"] = user;
    }*/

    try
    {
        @RenderPage($"~/Pages/{page}.cshtml");
    }
    catch (Exception exception)
    {
        @RenderPage($"~/Pages/Error404.cshtml");
    }

}

@section Menu
    {
    <div>
        @if (true) //Заглушка для авторизации
        {
            @RenderPage("~/Pages/MenuPage.cshtml")
        }
        else
        {
            @RenderPage("~/Pages/AuthPage.cshtml")
        }
    </div>
}
